.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 570px;
    height: 400px;
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
}

.setting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.icon-button {
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 24px;
    color: #ffffff;
    background-color: #9c27b0;
    text-align: center;
    vertical-align: middle;
}

.mat-button-toggle {
    padding-left: 10 px;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #9c27b0;
}

.mat-button-toggle-checked {
    background-color: #4e1057;
}
#title {
    padding: 1.5%;
    font-size: 2.5rem;
    text-shadow: 5px 5px 10px #9c27b0;
}

#setting-input {
    padding-left: 10 px;
    font-size: 2.5rem;
}

.popup-button {
    border: 2px solid #9c27b0;
    margin-right: 5px;
}

.popup-button-container button,
.setting-input input {
    font-size: 1.4rem; /* Set the font size to match the button */
    width: auto; /* Allow the input to adjust its width based on content */
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px;
    width: 100%;
}
