.main {
    display: flex;
    flex-direction: row;
}

h1 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: bold;
}

h3 {
    margin-top: 5px;
}

p {
    margin-bottom: 6px;
    font-size: 1.2rem;
}

#image-area {
    margin: 15px;
    border-radius: 4px;
}

#image-area > img {
    margin: 0px;
    border-radius: 4px;
    border: 6px solid #69f0ae;
}

#image-area > img.warning {
    border: 6px solid #cf9191;
}

.warning {
    color: #e46666;
    font-weight: bold;
}

#warning-text {
    padding: 0px;
    margin-top: 3px 0px 0px;
}

#creation-info {
    margin: 15px;
}

#creation-info > div {
    margin-bottom: 30px;
}

.count {
    font-weight: bold;
}

.button {
    font-size: large;
    margin: 0px 7px;
    width: fit-content;
    min-height: 50px;
    min-width: 160px;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#name-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 308px;
    background-color: #9c27b0;
    border: 3px solid #9c27b0;
}

#name-input.disabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 308px;
    background-color: #534c54;
    border: 3px solid #534c54;
}

#name-input > input {
    height: 45px;
    width: 300px;
    border: 0px;
    font-size: 1.2rem;
}

#name-input > input:focus {
    outline: none;
    background-color: #deb4e6;
}

#name-input > input:disabled {
    outline: none;
    background-color: #5c5c5c;
}

#name-input > input.invalid-name {
    background-color: #cf9191;
}
