<app-sidenav></app-sidenav>
<main id="main" class="mat-app-background">
    <mat-card id="nav-bar">
        <button id="return-button" mat-raised-button color="primary" routerLink="/home">Retour</button>

        <div>
            <button class="button" type="button" mat-raised-button color="primary" (click)="openCardDeleteAllPopup()">
                Supprimer toutes les fiches
            </button>
            <button class="button" type="button" mat-raised-button color="primary" (click)="openCardResetAllScoresPopup()">
                Réinitialiser tous les meilleurs temps
            </button>
        </div>

        <button class="button" mat-raised-button color="primary" routerLink="/config/create">Créer une nouvelle fiche</button>
    </mat-card>

    <!-- <div id="title" class="text-content">Configuration</div> -->

    <!-- <div id="content-area">
        <div *ngIf="isEmpty()" id="message" class="text-content">Il n'y a aucune fiche. Veuillez créer une fiche.</div>

        <div id="game-container">
            <mat-card *ngFor="let cardInfo of obs | async" class="game-card">
                <app-config-card [cardId]="cardInfo.id"></app-config-card>
            </mat-card>
        </div>
    </div> -->

    <div id="message" class="text-content">
        <p *ngIf="isEmpty()" id="titre">Il n'y a aucune fiche. Veuillez créer une fiche.</p>
        <!-- <button *ngIf="isEmpty" id="return-button" mat-raised-button color="primary" (click)="redirectToCreateGame()">
            Créer une nouvelle partie
        </button> -->
    </div>

    <div>
        <ul class="card-list">
            <mat-card *ngFor="let cardInfo of obs | async" class="game-card" class="game-card">
                <app-config-card [cardId]="cardInfo.id"></app-config-card>
            </mat-card>
        </ul>
    </div>

    <!-- <mat-toolbar>
        <div *ngFor="let number of [-2, -1, 0, 1, 2]" class="page-button-group">
            <button
                *ngIf="paginator.pageIndex + number >= 0 && paginator.pageIndex + number < paginator.length / 4"
                class="page-button"
                [ngClass]="number === 0 ? 'current' : ''"
                (click)="paginator.pageIndex = paginator.pageIndex + number + 1; paginator.previousPage()"
            >
                {{ paginator.pageIndex + number + 1 }}
            </button>
        </div>
        <mat-paginator #paginator showFirstLastButtons [pageSize]="4" [pageSizeOptions]="[4]" [hidePageSize]="true" mat-raised-button color="primary">
        </mat-paginator>
    </mat-toolbar> -->
</main>
<app-chat-container></app-chat-container>
